
@font-face {
  font-family: 'Inter Custom';
  src: url('./fonts/Inter-Regular.woff2') format('woff2'),
       url('./fonts/Inter-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter Custom';
  src: url('./fonts/Inter-Semibold.woff2') format('woff2'),
       url('./fonts/Inter-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter Custom';
  src: url('./fonts/Inter-Bold.woff2') format('woff2'),
       url('./fonts/Inter-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}


:root {
  /* Typography */
  --font-family: 'Inter Custom', sans-serif;
  --font-size: 0.875rem;
  /* Colors */

  --green: hsl(75, 94%, 57%);
  --white: hsl(0, 0%, 100%);
  --grey-700: hsl(0, 0%, 20%);
  --grey-800: hsl(0, 0%, 12%);
  --grey-900: hsl(0, 0%, 8%);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
    margin: 0;   
    background-color: var(--grey-900); 
     font-family: var(--font-family);
       font-size: var(--font-size); 
       color: var(--white);
}

.container {
  min-height: 100vh;   
    display: flex;      
    justify-content: center; 
    align-items: center;    
  width: 100%;
  padding: 20px;
}